.small::-webkit-media-text-track-display {
    font-size: 80%;
}

.medium::-webkit-media-text-track-display {
    font-size: 100%;
}

.large::-webkit-media-text-track-display {
    font-size: 100%;
}

video {
    max-width: 80%;
}
