
.settings-icon {
    color: white;
    font-size: 25px;
    outline: 0;
}

.settings-icon:hover {
    cursor: pointer;
    color: grey;
}

.link {
    color: white;
    font-size: 16pt;
    padding: 5px;
    cursor: pointer;
    outline: 0;
}

.link:hover {
    color: #b8b8b8;
    border-radius: 5px;
    // border: 1px solid grey;
}

.active {
    color: #b8b8b8;
    border-radius: 5px;
    text-decoration: underline;
    // border: 1px solid grey;
    
}

.w-200 {
    width: 200pt;
}
