<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch a movie</title>
    <script defer src="./index.js"></script>
    <style>
        #main{
            display: grid;
            grid-template-columns:  repeat(auto-fit, minmax(240px, 1fr));
        }

        .movie {
            padding: 20px;
            margin: 10px;
            box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
        }

    </style>
</head>
<body>
    movies
    <div id="main">

    </div>
    <button id="new-movie-btn">Add new movie</button>
</body>
</html>
